[viewBag]
==
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>Sites de streaming de sports - Football | Tennis | Voirlematch.fr</title>
    <!-- Bootstrap core CSS -->
    {% styles %}
    <link href="{{ [
		'assets/css/theme.css',
		'assets/font-awesome/css/font-awesome.min.css',
		'assets/css/animate.min.css',
		'assets/css/cover.css',
		'assets/css/style.css',
		'assets/css/teams.css',
		'assets/css/respons.css'
    ]|theme }}" rel="stylesheet">

</head>