<section class="row social text-center">
    <div class="container">
        <div class="col-md-8 col-md-offset-2">

            <h1 style="color: #2962FF">Fast
                <small>and</small>
                Robust
                <small>development.</small>
            </h1>
            <h2 style="color: #FFFFFF">
                <small> I always preferred a simple , beautiful and easy application to keep , those are
                    my basis ideas for start a new project. Always look for the easiest solution for the end
                    user must be the first thing you think any
                </small>
                designer
                <small> or</small>
                frontend / backend
                <small>developer.</small>
            </h2>

        </div>
    </div>
</section>