[viewBag]
==
<div id="footeren" class="footeren">
    <section class="first_footer trans-black">
        <div class="container">
            <div class="row"> 
                <div class="col-sm-12 col-xs-12 color-light">

                    <div class="float-left">
                       <span class="omso_kontakt">
                           <a href="/kontakt"><i class="fa fa-paper-plane"></i> Contact</a>
                           <a href="/om-os"><i class="fa fa-users"></i> Qui sommes-nous?</a>
                       </span>
                    </div>
                    
                    <div class="float-right color light hidden">
                        <span><img src="/themes/Footballstream/assets/images/home/danske-medier-bg_nw.png" alt="Danske Medier" /></span>
                     </div>
                </div>
            </div>
        </div>
    </section>
    <section class="dark-grey">
        <div class="container">
            <div class="row">
                <div class="text-right col-xs-12">
                    <div class="pull-left flag">
                        <a class="denmark" href="http://www.sesport.dk" title="Denmark">
                            <img src="http://images.sesport.dk/country-flags/denmark-1.png" alt="Denmark Flag" />
                        </a>
                        <a class="austria" href="http://www.sportschauen.at">
                            <img src="http://images.sesport.dk/country-flags/austria-2.png" alt="Austria Flag" />
                        </a>
                        <a class="uk" href="http://www.watchfooty.co.uk">
                            <img src="http://images.sesport.dk/country-flags/uk-2.png" alt="United Kingdom Flag" />
                        </a>
                     </div>
                    <a class="noicon float-right hidden" href="https://www.facebook.com/sesportlive" target="_blank"><img
                            src="http://images.sesport.dk/sesport.dk-ver5/v5-images/site/icon/facebook-icon.png"
                            alt="Facebook icon"></a>
                    <a class="noicon float-right hidden" href="https://twitter.com/sesportdk" target="_blank"><img
                            src="http://images.sesport.dk/sesport.dk-ver5/v5-images/site/icon/twitter-icon.png"
                            alt="Twitter icon"></a>
                    <a class="noicon float-right hidden" rel="publisher" href="https://plus.google.com/101623998821464340305"
                       target="_blank"><img
                            src="http://images.sesport.dk/sesport.dk-ver5/v5-images/site/icon/google-icon.png"
                            alt="Google icon"></a>
                </div>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="float-left footer-i hide-mobile">
                  <i class="fa fa-mobile fa-2x"></i> <i class="fa fa-tablet fa-3x"></i> <i class="fa fa-laptop fa-4x"></i>

                </div>

                <div class="footer-links">
                    <span>Nous encourageons une attitude responsable</span>
                    <a href="http://www.joueurs-info-service.fr/" target="blank">Joueurs Info Service</a>
                    <a href="/mentionlegales">Mention Legales</a>
                    <a href="/revuestreaming">Sites de streaming</a>
                    <a href="/faq">FAQ</a>
                    <a href="http://www.arjel.fr" target="_blank">ARJEL</a>
                    <a onclick="Alders()" class="Alderspolitik">Avis aux mineurs</a>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="wow shake hidden" data-wow-delay="0.4s">
    <div class="page-scroll marginbot-30">
        <a href="#Live" id="totop" class="btn btn-circle">
            <i class="fa fa-angle-double-up animated"></i>
        </a>
    </div>
</div>