==
<section class="row social">
    <div class="col-xs-12 text-center">
        <div style="margin-top: 25px" class="social_link">
            <a href="https://twitter.com/eddremonts">
                <i class="btn icon-twitter btn-round icon-1x"></i>
            </a>
            <a href="https://www.linkedin.com/in/eduardo-inerarte-643843bb?trk=nav_responsive_tab_profile">
                <i class="btn icon-linkedin btn-round  icon-1x"></i>
            </a>
            <a href="https://www.facebook.com/edd.remonts">
                <i class="btn icon-facebook btn-round icon-1x" style="padding-left: 17px; padding-right: 17px"></i>
            </a>
            <a href="https://plus.google.com/106702748275605145610">
                <i class="btn icon-google-plus btn-round icon-1x"></i>
            </a>
        </div>
    </div>
</section>